$font-roboto: 'Roboto', sans-serif;
$blue-text-color: rgb(31, 63, 104);
$light-blue-color: rgb(90, 152, 208);
$light-color: rgb(255, 255, 255);
$dark-blue-color: rgb(49, 96, 153);
$black-color: rgb(0, 0, 0);
$form-blue-color: rgb(53 110 173 / 40%);